<section class="ms-page-container">

  <div class="header">
    <h2>
      Company Profile Creator
    </h2>

    <hr class="ms-hr">
  </div>
  <div class="ms-page-content">
    <article class="ms-article ms-py-0">
      <div class="header">
        <h3>
          Basic informations
        </h3>
      </div>

      <hr>

      <form [formGroup]="companyCreatorFormGroup" (ngSubmit)="sendForm()" class="ms-form-container ms-mt-1">
        <div class="ms-input-field">
          <label class="ms-input-label" for="companyName">
            Company Name
            <span class="ms-required-status">*</span>
          </label>

          <input #companyNameInput formControlName="companyName" class="ms-input" type="text" id="companyName"
            on-focusout="checkIfCompanyNameIsAvailable()">
          <span class="ms-input-label ms-mt-1" *ngIf="loaderService.isLoading | async">
            Checking if name is available

            <div class="ms-loading-spinner">
              <mat-spinner [diameter]="20" class="ms-spinner"></mat-spinner>
            </div>
          </span>

          <span class="ms-mt-1" *ngIf="companyCreatorFormGroup.controls['companyName'].touched">
            <span class="ms-input-label" *ngIf="companyNameIsUnique">
              <mat-icon style="color: rgb(0, 172, 0)">done</mat-icon>

              Your company name is free
            </span>
            <span class="ms-input-label" *ngIf="!companyNameIsUnique">
              <mat-icon style="color: rgb(255, 217, 0)">warning</mat-icon>

              This name is already taken
            </span>
          </span>
        </div>

        <div class="header ms-mt-1">
          <h3>
            Company Adress
          </h3>

          <hr>
        </div>

        <div class="ms-input-field-adress">
          <div class="ms-input-field">
            <label class="ms-input-label" for="company-adress">
              County
              <span class="ms-required-status">*</span>
            </label>

            <input formControlName="companyCountry" class="ms-input" type="text" id="company-adress">
          </div>

          <div class="ms-input-field">
            <label class="ms-input-label" for="company-adress">
              City
              <span class="ms-required-status">*</span>
            </label>

            <input formControlName="companyCity" class="ms-input" type="text" id="company-adress">
          </div>

          <div class="ms-input-field ms-mt-1">
            <label class="ms-input-label" for="company-adress">
              Street
              <span class="ms-required-status">*</span>
            </label>

            <input formControlName="companyStreet" class="ms-input" type="text" id="company-adress">
          </div>

          <div class="ms-input-field ms-mt-1">
            <label class="ms-input-label" for="company-adress">
              House number
              <span class="ms-required-status">*</span>
            </label>

            <input class="ms-input" type="text" id="company-adress">
          </div>
        </div>

        <button type="submit" [disabled]="
            companyCreatorFormGroup.status === 'INVALID' ||
            !companyNameIsUnique"
             [class]="
              (companyCreatorFormGroup.status === 'INVALID' ||!companyNameIsUnique)?
                'ms-mt-2 create-company-button-disabled' :
                'log-in-button ms-mt-2'">
          Create company
        </button>
      </form>
    </article>
    <article class="ms-article ms-py-0">
      <div class="header">
        <h3>
          Select localization for your company
        </h3>
      </div>

      <hr>

      <div class="full" id="map"></div>
    </article>
  </div>
</section>
