.log-in-container
  height: 100vh
  width: 100vw
  background-image: url('../../../assets/background-4-home-page.jpg')
  background-repeat: no-repeat
  background-size: 100%
  contain: inherit
  display: flex

.log-in-cart
  margin-left: auto
  margin-right: auto
  width: 50vw
  background-color: #273741
  align-self: center
  border-radius: 10px
  display: flex
  flex-direction: column
  padding: 1em

.example-form
  margin-top: 1em
  display: flex
  flex-direction: column
  align-items: center

.log-in-header
  align-self: center

.header
  margin-top: 1em
  font-size: 25px
  align-items: center
  color: white

.forms-row
  display: flex
  flex-direction: row
  column-gap: 1em
  width: 100%


  &:last-child
    display: flex
    flex-direction: row
    column-gap: 1em
    width: 40%
    align-self: flex-start !important

.form-full-width
  margin-top: 1em
  width: 100%

.log-in-button
  width: 50%
  margin-top: 1em
  opacity: 0.7


  &:hover
    opacity: 1

.on-logging

.ms-loading-spinner
  background-color: black
  opacity: 0.7
  width: 100vw
  height: 100vh
  z-index: 999999
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white

.form-field
  width: 100%
  display: flex
  flex-direction: column

.error-message
  display: flex
  flex-direction: center
  align-items: center
  column-gap: 0.5em
  margin-top: 1em
  font-size: 80%
  color: #ffffff
  padding: 0.75em
  width: 50%
  background-color: #a062ba
