<mat-tab-group>
  <mat-tab label="products">
    <ng-container *ngTemplateOutlet="products"></ng-container>
  </mat-tab>
  <mat-tab label="stocks"></mat-tab>
  <mat-tab label="private markets"></mat-tab>
</mat-tab-group>

<section class="market-management-container">
  <article></article>
</section>

<ng-template #products>
  <section class="products-container">
    <div class="search-bar">
      <mat-form-field class="ms-input-field" appearance="fill">
        <mat-label class="ms-input-label">Search product</mat-label>
        <input class="ms-input" matInput />
      </mat-form-field>
    </div>
    <article class="products-listing">
      <div class="products-header">
        <button
        (click)="toggleAddProductCard()"
          class="add-product-btn"
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>add</mat-icon>
        </button>

        <h2>Products:</h2>
      </div>

      <div *ngIf="isAddProductCardVisible" class="add-product-card">
        <app-add-product-card></app-add-product-card>
      </div>
      <div class="market-product-item" *ngFor="let product of products">
        <app-market-product-item [product]="product"></app-market-product-item>
      </div>
    </article>
  </section>
</ng-template>
