<div class="ms-home-page">
  <section style="
    background-image: url('../../../../../assets/background-1-home-page.jpg');
    background-repeat: no-repeat;
    height: 20em;
    margin-top: 2em;
    background-size: 100%;">

    <div class="ms-float-animation-right">
      <div style="opacity: 1; color: white; display: flex; flex-direction: column; padding: 2% 5%;">
        <span style="font-size: 55px">
          Marketing Simulator
        </span>

        <p
          class="ms-header-description"
          [class.ms-float-animation-right]=""
          style="font-size: 29px; text-align: left;">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In a iaculis elit. Morbi posuere nibh eu lacinia
          ultricies. Sed nisl urna, ultricies vitae enim eget, rhoncus ultrices nisl.
        </p>
      </div>
    </div>
  </section>

<section style="
  background-image: url('../../../../../assets/background-2-home-page.jpg');
  background-repeat: no-repeat;
  height: 20em;
  background-size: 100%;
  width: 100%;">

  <div class="ms-float-animation-left">
      <div style="opacity: 1; color: white; display: flex; flex-direction: column; padding: 2% 5%; align-items: flex-end;">
          <span style="font-size: 55px;">
            Marketing Simulator
          </span>

          <p
          class="ms-header-description"
          [class.ms-float-animation-left]=""
          style="font-size: 29px; text-align: right">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In a iaculis elit. Morbi posuere nibh eu lacinia
          ultricies. Sed nisl urna, ultricies vitae enim eget, rhoncus ultrices nisl.
        </p>
      </div>
  </div>
</section>

<section style="
background-image: url('../../../../../assets/background-3-home-page.png');
background-repeat: no-repeat;
height: 50em;
background-size: 100%;
width: 100%;
">
  <article style="height: 100%; background-color: #1a333a; color: white; opacity: .8;">
    <div style="opacity: 1; color: white; display: flex; flex-direction: column; padding: 2% 5%;">
      <div style="display: flex; flex-direction: row-reverse; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 60%; justify-content: center;">
          <strong style="font-size: 55px; text-align: left;">
            Stwórz własną firmę
          </strong>

          <p style="font-size: 22px; margin-left: 5%; margin-top: 1%;">
            Załóż własną działalność i zawalcz z innymi graczami w globalnych rankingach
          </p>
        </div>

        <div style="display: flex; flex-direction:column; align-items: center; width: 40%;">
          <img width="60%" height="auto" src="../../../../../assets/pictures/home-page/picture-home-page-1.png">
        </div>
      </div>

      <div style="display: flex; flex-direction: row; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 60%; justify-content: center;">
          <strong style="font-size: 55px; text-align: left;">
            Możliwość analizowania realistycznych danych
          </strong>

          <p style="font-size: 22px; margin-left: 5%; margin-top: 1%;">
            To ty ustalasz ceny, a rynek będzie poddawał je testom swoich zjawisk w czasie rzeczywistym
          </p>
        </div>

        <div style="display: flex; flex-direction:column; align-items: center; width: 40%;">
          <img width="60%" height="auto" src="../../../../../assets/pictures/home-page/picture-home-page-2.png">
        </div>
      </div>
    </div>
  </article>
</section>

<section style="
background-image: url('../../../../../assets/background-4-home-page.jpg');
background-repeat: no-repeat;
height: 30em;
background-size: 100%;
width: 100%;
">
  <article style="height: 100%; background-color: #1a333a; color: white; opacity: .8;">
    <div style="opacity: 1; color: white; display: flex; flex-direction: column; padding: 2% 5%;">
      <div style="display: flex; flex-direction: row-reverse; width: 100%;">
        <div style="display: flex; flex-direction: column; width: 60%; justify-content: center;">
          <strong style="font-size: 55px; text-align: left;">
            Realne wydarzenia
          </strong>

          <p style="font-size: 22px; margin-left: 5%; margin-top: 1%;">
            Ktoś ci zalazł za skórę? Czemu nie nałożysz na niego sankcji? Tworzenia unii jest możliwe!
          </p>
        </div>

        <div style="display: flex; flex-direction:column; align-items: center; width: 40%;">
          <img width="60%" height="auto" src="../../../../../assets/pictures/home-page/picture-home-page-3.png">
        </div>
      </div>
    </div>
  </article>
</section>

<section style="
background-color: #273741;
height: 30em;
width: 100%;
">
  <article style="height: 100%; color: white;">
    <div style="opacity: 1; color: white; display: flex; flex-direction: column; padding: 2% 5%;">
      <div style="display: flex; flex-direction: row; width: 100%;">
        <div
          style="display: flex; flex-direction: column; width: 60%; margin-left: auto; margin-right: auto; align-items: center;">
          <div style="font-size: 55px; align-self: flex-start;">
            Dołącz już teraz
          </div>

          <div style="font-size: 22px; margin-top: 1%; align-self: flex-start; margin-left: 2%; width: 50%;">
            Jako jeden z pierwszych zajmij wymarzoną pozycję przez siebie na globalnej mapie i rozpocznij swoją
            działalność
          </div>

          <div
            style=" width: 30%; margin-top: 3%; background-color: white; border-radius: 18px; color: black; display: flex; flex-direction: column; padding: 0.5em;">
            <div id="form" style="display: flex; flex-direction: column; padding: 1em;">
              <div style="align-self: flex-start;">
                Stwórz konto
              </div>

              <input type="text">

              <button>
                Zarejestruj się
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </article>
</section>

</div>
