// @keyframes float-right
//   from margin-left: -50em
//   to margin-left: 0em

// @keyframes float-left
//   from margin-right: -50em
//   to margin-right: 0em

.ms-header-description
  width: 35em

.ms-float-animation-right
  transition: margin-left 1s
  background-color: #253847
  height: 100%
  opacity: .8
  color: white
  animation-name: float-right
  animation-duration: 3s

.ms-float-animation-left
  transition: margin-right 1s
  background-color: #253847
  height: 100%
  opacity: .8
  color: white
  animation-name: float-left
  animation-duration: 3s
