<section class="add-product-card-container">
  <header><h2 class="ms-m-0">Add product</h2></header>
  <hr />
  <article>
    <form
      [formGroup]="addProductForm"
      class="example-form"
      #form
      (ngSubmit)="onSubmit()"
    >
      <div class="forms-row">
        <div class="form-field">
          <mat-form-field class="form-full-width">
            <mat-label> Product name </mat-label>
            <input
              formControlName="name"
              type="text"
              matInput
              placeholder="name of new product"
            />

            <mat-error *ngIf="!addProductForm.controls['name'].valid">
              Wrong name
            </mat-error>
          </mat-form-field>

          <span class="ms-text-error" *ngIf="false">
            Product already exist
          </span>
        </div>

        <mat-form-field class="form-full-width">
          <mat-label> Price </mat-label>

          <input
            formControlName="price"
            type="number"
            matInput
            placeholder="Price per item"
          />

          <mat-error *ngIf="!addProductForm.controls['price'].valid">
            Wrong price
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="
            !addProductForm.controls['price'].valid ||
            !addProductForm.controls['name'].valid
          "
          mat-raised-button
          color="primary"
        >
          Create product
        </button>
      </div>
    </form>
  </article>
</section>
