//* Colors
$gray-green-color-hover: #4c6372b2
$gray-green-color: #273741
$green-color: #39AF65
$gray-text-color: #707070
$gray-color-disabled: #868686
$purple-color: #a062ba
$purple-color-hover: #ce1dd4
$red-color: rgb(245, 59, 59)
$white-color: #fff
$white-hr-color: rgb(235, 235, 235)
$table-purple-color: #804898
$even-cell-color: rgb(226, 226, 226)
$yellow-color: rgb(255, 223, 43)

//* Html elements
body
  width: 100%
  height: 100%
  margin: 0 0 0
  padding: 0 0 0
  font-family: 'Oswald', sans-serif !important

h2
  font-family: 'Oswald', sans-serif !important

h3
  font-family: 'Oswald', sans-serif !important
  margin-bottom: 6px !important

hr
  border-color: #dfdfdf

mat-tab-group
  font-family: 'Oswald', sans-serif !important

.ms-page-container
  height: 80vh
  padding: 1em
  margin-top: 10vh

//*spacing
.ms-m-0
  margin: 0

.ms-mt-1
  margin-top: 1em !important

.ms-mt-2
  margin-top: 2em

.ms-mt-5
  margin-top: 5em !important

.ms-ml-1
  margin-left: 1em !important

.ms-ml-2
  margin-left: 2em !important

.ms-py-4
  padding-left: 4em
  padding-right: 4em

.ms-py-1
  padding-left: 1em
  padding-right: 1em

.ms-py-0
  padding-top: 0 !important
  padding-bottom: 0 !important

.ms-hr
  margin: 0.25em 0

.ms-header
  display: flex
  min-height: 2.5em
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  align-items: center
  justify-content: space-between
  background-color: $gray-green-color
  color: white

  &:hover
    cursor: pointer

  &>.content
    margin-left: 1em
    align-self: center

.ms-article
  width: 50%
  padding: 1%

.ms-link
  color: blue
  text-decoration: underline

  &:hover
    cursor: pointer

.ms-list-container
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  display: flex
  flex-direction: row
  height: 80%
  -webkit-box-shadow: -8px 8px 29px 0px rgba(229, 229, 229, 1)
  -moz-box-shadow: -8px 8px 29px 0px rgba(229, 229, 229, 1)
  box-shadow: -8px 8px 29px 0px rgba(229, 229, 229, 1)

.ms-list
  padding: 0
  margin: 0
  list-style: none
  width: 100%

hr
  margin: 0
  border: 1px solid rgb(235, 235, 235)

  &>li
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

  &-header
    background-color: #804898
    color: white
    height: 2.5em
    align-self: center

  &-cell
    text-align: center
    height: 2em

    color: rgb(60, 60, 60)

  &-cell:last-child
    border-bottom: 1px solid #a062ba

.ms-search-button
  display: flex
  width: 25%
  height: 3em
  align-self: flex-end
  background-color: #a062ba
  color: white
  border-radius: 4px
  align-items: center
  justify-content: center
  column-gap: 1em
  border: 0

.ms-danger-button
  display: flex
  width: 50%
  height: 3em
  align-self: flex-end
  background-color: $red-color
  color: white
  border-radius: 4px
  border: 0
  align-items: center
  justify-content: center
  column-gap: 1em

.ms-form-container
  width: 100%
  display: flex
  flex-direction: column

.ms-text-error
  color: rgb(245, 59, 59)
  font-size: 11px

.ms-input-field
  display: flex
  flex-direction: column
  width: 100%

  .ms-input-label
    font-size: 12px
    color: gray
    display: flex
    flex-direction: row
    align-items: center
    column-gap: 0.5em

    .ms-required-status
      color: rgb(245, 59, 59)

.ms-input
  border: 1px solid gray
  color: gray
  padding: 1%
  height: 2em
  border-radius: 4px

  &:focus
    order: 1px solid purple

.ms-input-field-adress
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  width: 100%

  .ms-input-field
    display: flex
    flex-direction: column
    width: 45%

    .ms-input-label
      font-size: 12px
      color: gray

      .ms-required-status
        color: rgb(245, 59, 59)

    .ms-input
      border: 1px solid gray
      color: gray
      padding: 5px
      height: 2em
      border-radius: 4px

  &:focus
    border: 1px solid purple

.ms-mat-input-color
  color: #707070 !important

.ms-search-field
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%

  .ms-input-field
    width: 70%

mat-dialog-container
    padding: 0.5em !important

.ms-button-success
  background-color: #39AF65
  border: 0
  border-radius: 4px
  color: white
  align-items: center
  justify-content: center
  padding: 0.5em 1em
  font-size: 16px
  font-family: 'Oswald', sans-serif !important

  &:hover
    cursor: pointer

.ms-button-danger
  background-color: #d44343
  border: 0
  color: white
  border-radius: 4px
  align-items: center
  justify-content: center
  padding: 0.5em 1em
  font-size: 16px
  font-family: 'Oswald', sans-serif !important

  &:hover
    cursor: pointer
